body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(65, 65, 65);
}
.aboutSection{
    color: white;
    align-content: center;
    padding-left: 300px;
    padding-right: 300px;
}
.visitUs1{
    text-decoration: none;
}
.back{
    color: white;
    background-color: grey;
}
.video{
    width: 400px;
    height: 400px;
    z-index: -1;
    object-fit: cover;
}
.about{
    z-index: 1;
    text-align: center;
}
