body{
    margin: 0;
    background-image: url(img\forgotp2.jpg);
    background-repeat: no-repeat;
    background-color: gray;
    font-size: large;
}

button{
    border-radius: 20px;
    padding-inline: 30px;
    font-size: 15px;
    font-weight: bolder;
    height: 45px;
}

.back{
    text-decoration: none;
}

.container{
    padding-top: 170px;
    padding-left: 70px;
}

.buttons{
    padding-left: 80px;
}

.backb{
    padding-left: 45px;
}