body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(65, 65, 65);
}

.background-color{
    background-color: rgba(128, 128, 128, 0.267);
}
h1{
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
}
button{
    border-radius: 20px;
    padding-inline: 30px;
    font-size: 15px;
    font-weight: bolder;
    height: 45px;
}
.facebook{
    background-color:#3b5998;
    color: white;
    border-color: #3b5998; 
    text-align: center;  
    padding: 10px 20px;
}

.facebook img {
    vertical-align: middle; 
    margin-right: 10px; 
}

.google{
    color: rgb(78, 78, 78);
    background-color: white;
    border-color: white;
    text-align: center;  
    padding: 10px 20px;
}

.google img {
    vertical-align: middle; 
    margin-right: 10px; 
}

.signupbutton{
    text-decoration: none;
    color: black;
    height: 45px;
    width: 158px;
    background-color: grey;
    border-color: rgba(128, 128, 128, 0.267);
}

.bottom-container{
    display: flex;
    justify-content: center;
}

.Alreadyacc{
    font-size: 20px;
    color: black;
    background-color: rgba(128, 128, 128, 0.267);
    border-color: #222222;
}

.guestLogin{
    font-size: 15px;
    color: black;
    background-color: rgba(128, 128, 128, 0.267);
    border-color: #222222;
}

.loginb{
    color: black;
    font-size: 20px;
}