body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(65, 65, 65);
}
.sideBar{
    height: 70%;
    width: 140px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: grey;
    padding-top: 20px;
    text-decoration: none;
    text-decoration-line: none;
    color: white;
}
.barWords{
    text-decoration: none;
    color: white;
}
.photoheader{
    padding-left: 135px;
    color: white;
    font-size: large;
}
.newsection{
    padding-left: 135px;
}
.newstable{
    padding-left: 135px;
    
}
.piecesection{
    padding-left: 135px;
}
.footerEnd{
    background-color: grey; 
    color: #fff; 
    text-align: center; 
    padding: 10px;
    font-size: smaller;
}
